:root {
    --primary-color: rgba(35, 35, 31, 0.37);
    --overlay-color: rgba(24, 39, 51, 0.85);
    --menu-speed: 0.75;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.navtop {
    overflow: hidden;
    background-color: #e8d4b3;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3.75rem;
    z-index: 1;
    display: block;
}

.navbar {
    display: flex;
    margin-left: 4rem;
    margin-top: 1rem;
    font-size: 22px;
}

.logo-nav {
  display: flex;
  margin-left: 5rem;
  text-align: center;
  width: 65px;
  height: 65px;
  float: left;
  padding-bottom: 0px;
}

.showcase {
    background-color: var(--primary-color);
    color: white;
    height: 100vh;
    position: relative;
}


.showcase::before{
    content: '';
    background: url(header_1.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
     -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    float: left;
    margin-left: 7rem;
}

.showcase h1{
    font-size: 4rem;

}

.showcase p {
    font-size: 1.7rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    text-decoration: none;
    transition: opacity 1s ease-in;
}

.btn:hover {
    opacity: 0.7;
}

#content {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* width: auto; */
    margin: auto;
}

h4 {
    text-align: center;
    margin-top: 4rem;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px;
}

.con-text {
    line-height: 95px;
    font-size: 35px;
}

.logo-left {
    height: 100px; ;
    width: 100px;
    float:left
}

.logo-right {
    height: 100px;
    width: 100px;
    float:right;
    /* margin-bottom: 20px; */
}
.logo-cont2 {
    width: 200px;
    height: 100px;
    padding-top: 10px;
}

.container-combine {
   display: flex;
   margin-top: 4rem;
}

.container-bawah {
   flex: 1;
   background-color: #83664657;
   text-align: center;
}

.container-bawah:first-child {
    margin-right:20px ;
}

.con-text2 {
    margin-top: 5px;
    font-size: 30px;
    padding-bottom: 7px;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 4rem;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: white;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;

  background-color: black;
  opacity: 50%;
}

.slideDesc {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: auto;

  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/

  background-color: black;
  opacity: 50%;
}

.slider-foto {
    width: 100%;
    /*height: 75%;*/
    /*opacity: 50%;*/
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h3 {
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 400;
}


#footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #c7b495;
}

div p{
  /* margin-top: 20px; */
  text-align: center;
  padding-top: 2rem;
}

.container-logo-footer {
  float:right;
  border-radius: 250px;
  line-height: -22px;
  margin-top: -33px;
}

.logo-foot {
  float:right;
  width: 55px;
  height: 55px;
  display: flex;
  margin-right: 15px;
}

div div .logo-foot:last-child{
  width: 50px;
  height: 50px;
  margin-top: 3px;
}